@font-face {
    font-family: "Inter";
    src: url("/fonts/InterVariable.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
}
em,
i {
    letter-spacing: -0.005em; /* Less tight than body */
    font-style: italic;
}
strong,
b {
    font-weight: 600;
    letter-spacing: -0.005em;
}
h1,
h2,
h3 {
    font-weight: 750;
    letter-spacing: 0.005em;
}
html {
    font-family: "Inter", system-ui;
    font-size: 11pt;
    letter-spacing: -0.012em;
}
.dark {
    body {
        background-color: #141d2f; /* Dark background */
        color: seashell; /* Optional: light text color for contrast */
    }
}
